# Frontend (Create React App)
# Base da API usada pelo Catalogo (inclua /api no final)
REACT_APP_API_BASE_URL=http://127.0.0.1:8000/api

# Backend (Docker Compose)
# Opcional na raiz para nao exportar no terminal a cada execucao
# POSTGRES_PASSWORD=troque-esta-senha
# POSTGRES_DB=chaveiro_db
# POSTGRES_USER=postgres
# POSTGRES_PORT=5432
